
@media (max-width: 375px) {

    .header__nav {
        display: none;
    }

    .button {
        display: none;
    }

    .phone-small {
        padding-right: 100px;
    }

    .title {
        font-size: 23px;
        padding-left: 18px;
    }

    .hero__text {
        font-size: 14px;
        padding-left: 18px;
    }

    .hero {
        background-image: url(image-media/rooms1.png);
        height: 476px;   
    }

    .button__hero {
        display: flex;
        flex-direction: column;
        gap: 26;
    }

    .hero__button-1 {
        width: 320px;
        height: 51px;
        flex-shrink: 0;
        margin-left: 10px;
    }

    .hero__text-2 {
        width: 320px;
        margin-left: 10px;
    }

    .points__imege,
    .image__dots {
        display: none;
    }

    .title-2 {
        display: flex;
        justify-content: center;
        font-size: 22px;
        padding-top: 36px;
        text-align: center;
    }

    .hero-two__text {
        display: flex;
        text-align: center;
        font-size: 11px; 
    }

    .image__two-chairs {
        margin-top: 50px;
        cursor: pointer;
    }

    .points {
        margin-top: 250px;
        padding-left: 18px;
    }
     .points-2 {
        padding-left: 18px;
        gap: 55px;
     }

     .title-3 {
        padding-top: 58px;
        font-size: 22px;
     }

     .image__man-chair {
        width: 320px;
        height: 200px;
     }

     .container__hero-two {
        height: 1150px;
     }

     .image__trait,
     .hero-three__text,
     .information,
     .first-checkbox {
        background-color:  #181818;;
     }

     .hero-three__text {
        color: #FFF;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 169.8%;
        padding-top: 21px;
     }

     .image__trait {
        padding-top: 28px;
     }

     .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: -11px; 
     }

     .information__name {
        margin-top: -80px;
        margin-left: 25px;
     }

     .information__phone {
        margin-left: 25px;
     }


     .information__name_label,
     .information__phone_label {
        color: rgba(255, 255, 255, 0.50);
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
     }

     .button__information {
        position: absolute;
        margin-top: 230px;
        z-index: 1;
     }

     .button__information_text {
        width: 330px;
        height: 51px;
     }

     .first-checkbox {
        position: absolute;
        margin-top: px;
        width: 344px;
        height: 50px
 
     }

     .text {
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
     }

     .title-4 {
        padding-top: 150px;
        color: #181818;
        text-align: center;
        font-family: Yeseva One;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%; 
        text-transform: uppercase;
     }

     .name-question,
     .phone-question {
        color: #FFF;;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.72%;
        background-color: #181818;
        width:300px ;
     }

     .hero__fourth,
     .image__Group,
     .black__box {
        display: none;
     }

     .options__box {
        display: flex;
        flex-direction: column;
        gap: 200px;
     }

     .image__rooms-1,
     .image__rooms-2,
     .image__rooms-3 {
        width: 340px;
        height: 365px;
     }

     .redecorating__box,
     .Overhaul__box,
     .Designer-Repair__box {
        width: 270px;
        margin-left: 0;
     }

     .rooms-1__img,
     .rooms-2__img,
     .rooms-3__img {
        width: 340px;
        height: 365px;
     }

     .box__hero-sixth,
     .text-7,
     .image__hands,
     .title-7,
     .hero__fifth,
     .header2 {
        display: none;
     }

     .container__hero-sixth {
        background-color: #FFF;
        height: 830px;
     }

     .muk {
        display: block;
        margin-top: 970px;
        align-items: center;
     }

     .watch__img {
        display: block;
        align-items: center;
        margin-top: -900px;
        padding-left: 5px;
        cursor: pointer;
        
     }

     .title-8 {
        padding-top: 60px;
     }

     .information__hero_sixth {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 973px;
        margin-top: -120px;
        background-color: #131313;
     }

     .information__box-1 {
        display: flex;
        flex-direction: column;
        width: 340px;
        padding-left: 5px;
     }

     .information__box-2 {
        width: 340px;
        margin-left: -173px; 
     }


     .question__box-2,
     .question__box-1 {
        width: 330px;
     }

     .button__hero_sixth {
      width: 335px;
      height: 51px;
      margin-top: 60px;
     }

     .information__checkbox {
      margin-left: -50px;
      margin-top: -25px;
     }

     .information__hero_sixth {
      height: 620px;
      margin-top: -30px;
     }

     .hero__seven {
      background-color:#131313;
      height: 450px;
      width: 350px;
     }

     .container__hero-seven {
      height: 450px;
      margin-top: -122px;
     } 
      
     .map__img {
      margin-top: -450px;
      margin-left: -10px;
      width: 340px;
      height: 255px;
      padding-left: 15px;
     }

     .title-9__text {
      color: #E3B873;
      text-align: center;
      font-family: Yeseva One;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 138.6%;
      text-transform: uppercase;
      margin-top: -20px;
   
     }

     .icons__img {
      width: 98.893px;
      height: 39px;
     }

     }



     


     


     

     










    
        
        
     

   



