
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');



.body {
  box-sizing: border-box;
}

.header,
.header2 {
    background-color: black;  
}

.header__box {
  display: flex;
  justify-content: space-around;  
  height: 83px;
  align-items: center;
}

.container {
max-width: 1250px;
margin: 0 auto;
}

.logo {
  color: #E3B873;
  font-family: Nunito Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.button {
  margin-left: 90px;
}

a, .header__nav_button, .hero__button-1, .man-chair__img,
.button__information_text {
  cursor: pointer;
}
  
.header__nav_button {
  border-radius: 2px;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: #FFF;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 161px;
  height: 37px;
}

.header__nav_list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header__nav_link {
   margin-right: 47px;
   text-decoration: none;
   color: #FFF;
   font-family: Nunito Sans;
   font-size: 11px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;

}
.header__nav_link-1 {
   color: #E3B873;
   margin-right: 47px;
   text-decoration: none;
   font-family: Nunito Sans;
   font-size: 11px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.phone-small a  {
   position: absolute;
   margin-top: -7px;
   color: #E3B873;
   font-family: Nunito Sans;
   font-size: 11px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration-line: underline ;
}

.hero {
  background-image: url(image/room1.png);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative; 
}

.hero-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .7);
} 

.hero-container {
  position: relative;
  z-index: 1;
}

.title {
  margin: 0;
  color: #FFF;
  font-family: Yeseva One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 132.825%;
  text-transform: uppercase;
 
}
.sity {
  color: #E3B873;
}

.hero__text {
  margin: 0;
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  padding-top: 19px;
}

.button__hero {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 41px;
}

.hero__button-1 {
  width: 207px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.hero__text-2 {
  width: 207px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-top: 19px;
}

.hero-two {
  background-color: #131313;
}

.container__hero-two {
  max-width: 1250px;
  margin: 0 auto;
  height: 1074px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.title-2 {
  margin: 0;
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  letter-spacing: -1.89px;
  text-transform: uppercase;
  padding-top: 176px;
}


.box2 {
  float: right;
  margin-top: -580px;
}

.hero-two__text {
  color: white;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.96%;
  
}

.points__list_h2 {
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
}
  
.points__text {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  
}

  .points {
    display: flex;
    flex-direction: row;
    gap: 110px;
    padding-top: 20px;
  }

  .points-2 {
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-top: 5px;
  }

  
  .dots__img {
    width: 205.683px;
    height: 13.276px;
    flex-shrink: 0;
    padding-top: 40px;
  }

  .points__imege {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }


 .points__imege-1 {
   color: #E3B873;
   font-family: Yeseva One;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 138.6%; 
   text-transform: uppercase;
   border-bottom: 1px #E3B873 solid;
   padding-bottom: 4px;
 }

 .points__imege-2 {
   color: rgba(255, 255, 255, 0.30);
   font-family: Yeseva One;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 138.6%;
   text-transform: uppercase;
 }

 .two-chairs__img {
   padding-top: 52px;
   text-align: center;
 }
 
 .man-chair__img {
  display: flex;
  justify-content: center;
 }

 

 .title-3 {
   color: #FFF;
   text-align: center;
   font-family: Yeseva One;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 138.6%;
   text-transform: uppercase;
   padding-top: 40px; 
 }
  
.image__camera {
   text-align: center;
}
 
.image__man-chair {
  text-align: center;
}


.container__hero-three {
  max-width: 1250px;
  margin: 0 auto;
  height: 1520px;
}

.image__trait {
  text-align: center;
  padding-top: 250px;
}

.hero-three__text {
  color: #363636;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.6%;
  padding-top: 34px;
}

.name-question {
  border: none;
  border-bottom: 1px solid #838080 ;
  padding-bottom: 4px;
}

.phone-question {
  border: none;
  border-bottom: 1px solid #838080 ;
  padding-bottom: 4px;
}

.information__name_label {
  color: rgba(54, 54, 54, 0.50);
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
}

.information__phone_label {
  color: rgba(54, 54, 54, 0.50);
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
}

.name-question {
  color: #363636;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
}

.phone-question {
  color: #363636;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
}

.button__information_text {
  background: #E3B873;
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.6%; 
  text-transform: uppercase;
  width: 200px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 2px;
  border: none;
}

.information {
  display: flex;
  justify-content: space-evenly;
  padding-top: 92px;
}


.label {
  cursor: pointer;
}
.checkbox{
  display: none;
}
.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}
.fake::before{
  content:"\2714";
  opacity: 0;
  transition: .2s;
}
.checkbox:checked + .fake::before{
  opacity: 1;
}

.first-checkbox {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}

.container__hero-fourth {
  max-width: 1250px;
  margin: 0 auto;
  height: 900px;
}

.title-4 {
  color: #181818;
  text-align: center;
  font-family: Yeseva One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%; 
  text-transform: uppercase;
  padding-top: 76px;
}

.redecorating__box, 
.Overhaul__box,
.Designer-Repair__box {
  position: relative;
  background: #FFF;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
  text-align: left;
  width: 330px;
  height: 286px;
  flex-shrink: 0;
  margin-left: 31px;
  margin-top: -145px;
  z-index: 2;
}

.rooms-1__img, 
.rooms-2__img,
.rooms-3__img {
  position: relative;
  z-index: 1;
}

.redecorating__title, 
.Overhaul__title,
.Designer-Repair__title {
  padding-top: 25px;
  padding-left: 30px;
}

.box_rooms-1, 
.box_rooms-2,
.box_rooms-3 {
  width: 392px;
  height: 421px;
  flex-shrink: 0;
}

.redecorating__title, 
.Overhaul__title,
.Designer-Repair__title {
  color: #363636;
  font-family: Yeseva One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
}

.redecorating__list_link,
.Overhaul__list_link,
.Designer-Repair__list_link {
  color: #959595;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.6%;
}

.options__box {
  display: flex;
  justify-content: space-around;
  padding-top: 31px;
}


.image__Group {
  position: relative;
  float: left;
  margin-top: -550px;
  margin-left: 230px;
  z-index: 2;
}

.image__White-background {
  position: relative;
  padding-top: 124px;
  z-index: 1;
  width: 700px;
}

.black__box {
  width: 506px;
  height: 509px;
  flex-shrink: 0;
  background-color: #131313;;
  float: right;
  margin-top: -550px;
}


.title-5 {
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.22%;
  padding-top: 15px;
}

.information__box {
  padding-left: 29px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-top: 25px;
  
}

.information__label {
  color: rgba(255, 255, 255, 0.50);
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
}

.question_box {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  background-color: transparent;
  width: 408px; 
}

.first-checkbox_one{
  padding-left: 29px;
  padding-top: 18px;
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%
}


.button__black_box_text {
  float: right;
  width: 213px;
  height: 51px;
  flex-shrink: 0;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-right: 49px;
}

.image__pig {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 750px;
  margin-top: -15px;
  
}

.pig__text {
  width: 344px;
  height: 47px;
  flex-shrink: 0;
  padding-top: 7px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}


.hero__fifth {
  background: url(image/the-background-rooms.png);
  background-size: cover;
  height: 846px;
  position: relative;
}

.hero-container_fifth {
  position: relative;
  z-index: 1;
  height: 1000px;
}


.title-6 {
  color: #E3B873;
  font-family: Yeseva One;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 137px;
  width: 411px;
  height: 66px;
  flex-shrink: 0;
  padding-left: 40px;
  
}

.hero-container__fifth_link-one {
  color: #E3B873;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.96%; 
  border-bottom: 1px #E3B873 solid;
  width: 150px; 
}


.hero-container__fifth_link {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.96%;
  padding-top: 15px;
}

.hero-container__fifth_list {
  list-style-type: none;
  width: 299px;
}

.image__hero__fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: -850px;
}

.image__hero__fifth-1 {
  display: flex;
  flex-direction: column;
  align-items:self-end;
  gap: 30px;
  margin-top: -1040px;
}



.hero__sixth {
  height: 953.898px;
}


.container__hero-sixth {
  max-width: 1250px;
  margin: 0 auto;
  height: 953.898px;;
  z-index: 2;
  position: relative;
}

.title-7 {
  color: #181818;
  text-align: center;
  font-family: Yeseva One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
  margin-top: 110px;
}

.image__hands {
  text-align: center;
}

.text-7 {
  text-align: center;
}

.hero__sixth {
  background-image: url(image/background-white-house.png);
  background-size: cover;
}

.box__hero-sixth {
  margin-top: 39px;
}

.Maria__img,
.Sergey__img,
.Egor__img {
  border-radius: 100%;
}

.Sergey,
.Maria,
.Egor {
  width: 376px;
  height: 428px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}

.days-128__img,
.days-48__img {
  margin-top: 23px;
}

.days-86__img {
  margin-left: -14px;
  margin-top: 9px;
}

.box__hero-sixth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Maria__name,
.Sergey__name,
.Egor__name {
  text-align: left;
  margin-top: -65px;
  color: #181818;
  font-family: Yeseva One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.05%;
  padding-left: 100px;
}

.Maria__title,
.Sergey__title,
.Egor__title {
  padding-top: 30px;
  padding-left: 17px;
}

.Sergey__text,
.Maria__text,
.Egor__text {
  color: #959595;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; 
  padding-top: 30px;
  padding-left: 17px;
}

.information__hero_sixth {
  width: 883px;
  height: 445.319px;
  background-color: #131313;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px
  
}

.title-8 {
  color: #FFF;
  text-align: center;
  font-family: Yeseva One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
  padding-top: 34px;
}

.information__box-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 58px;
  padding-top: 45px;
}

.question__box-1 {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  background-color: transparent;
  width: 231px; 
}

.question__box-2 {
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  background-color: transparent;
  width: 516px;
}

.information__box-2 {
  padding-top: 57px;
  text-align: start;
  padding-left: 177px;
}

.information__checkbox {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.68%;
  padding-top: 46px;
}

.button__hero_sixth {
  width: 200px;
  height: 51px;
  flex-shrink: 0;
  background: #E3B873;
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-right: 49px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.hero__seven {
  height: 1000px;
  background-image: url(image/background-black.png);
  background-size: cover;
  position: relative; 
  margin: o auto;
  box-sizing: border-box;
}

.container__hero-seven {
  max-width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 953.898px;
}

.hero-overlay__last {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.86);
}

.title-9 {
  color: #E3B873;
  text-align: center;
  font-family: Yeseva One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.6%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding-top: 274px; 
}

.image__icons {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.map__img {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
}

.muk {
color: #E3B873;
text-align: center;
font-family: Yeseva One;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 138.6%; 
text-transform: uppercase;
display: none;
}

.watch__img {
  display: none;
}